
<p>You throw <strong><%= @sign%></strong></p>

<p>Watson throws <strong><%= @auto_generate_throw %></strong></p>

<p>Your <strong><%= @game_result %></strong></p>

<%= link_to "New Game", root_path, class: 'btn btn-primary' %>